@model ForgotPasswordVM
@{
    var emailMsg = TempData["Email"];
}
<h3 class="display-4">Forgot password</h3>
<span />
<p>Type in your email with which you registered your account and you will be sent a link to create new password for your account</p>
<div class="row">
    <div class="col-md-9">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="submit" name="Login" class="btn btn-primary"  value="Send"/>
        </form>
    </div>
    @if (emailMsg != null)
    {
            <span class="error text-danger">@emailMsg</span>
    }
</div>

